<div class="container mx-auto">
    <h4>Listado de productos</h4>
    <button class="btn btn-soft btn-success ml-auto block">Agregar Producto</button>

</div>


<div class="overflow-x-auto container mx-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let products of listProducts">
            <td>{{ products.id }}</td>
            <td>{{ products.name }}</td>
            <td>{{ products.description }}</td>
            <td>{{ products.price }}</td>
            <td>
              <button class="btn btn-soft btn-warning mr-2">Editar</button>
              <button class="btn btn-soft btn-error">Elminar</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>