<div class="container mx-auto">
    <h4>Listado de productos</h4>
    <button class="btn btn-soft btn-success ml-auto block" routerLink="/agregar">Agregar Producto</button>

</div>


<div class="overflow-x-auto container mx-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let product of listProducts">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock}}</td>
            <td>
              <button [routerLink]="['/editar', product.id]"  class="btn btn-soft btn-warning mr-2">Editar</button>
              <button class="btn btn-soft btn-error">Elminar</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
